<div class="row"
     style="margin-top:20px;">
  <div class="col-md-12">
    <p align="justify">Тут знаходяться всі Ваші документи, які були раніше завантажені авторизованими організаціями.
      Ви можете їх скачати або надати доступ третім особам (в тому числі іншим державним або
      приватним
      організаціям).
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12"
       id="accordion">

    <div class="row" style="display: none;">
      <div class="col-md-2">
        <div class="row">
          <button type="button"
                  class="btn btn-success"
                  file-upload-a>
                        <span class="glyphicon glyphicon-file"
                              aria-hidden="true"></span>
            <span>Добавить документ</span>
            <input type="file"
                   style="display:none">
          </button>
        </div>
      </div>
      <div class="col-md-10">
        <div class="row" ng-if="file.fileName">
          <div class="col-md-2"><label>Файл: {{file.fileName}}</label></div>
          <div class="col-md-4">
            <div class="col-md-6">
              <label>Назва документа</label>
            </div>
            <div class="col-md-6">
              <input name="documentNameForUpload" type="text" class="form-control" ng-model="documentNameForUpload"
                     ng-required="true"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-6">
              <label>Тип документа</label>
            </div>
            <div class="col-md-6">
              <select name="documentTypeForUpload"
                      ng-model="documentTypeForUpload"
                      ng-options="documentType.nID as documentType.sName for documentType in documentTypes"
                      ng-required="true"
                      class="form-control"></select>
            </div>
          </div>
          <div class="col-md-2">
            <button type="button"
                    class="btn btn-success"
                    ng-click="uploadDocument(documentTypeForUpload, documentNameForUpload)"
                    ng-disabled="!file.fileName">
              <span>Завантажити</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="col-md-2">
            <p class="text-muted">Документ</p>
          </th>
          <th class="col-md-3">
            <p class="text-muted">Дата завантаження копії</p>
          </th>
          <th class="col-md-3">
            <p class="text-muted">Ким завантажено копію</p>
          </th>
          <th class="col-md-3">
            <p class="text-muted">Автор ЕЦП</p>
          </th>
          <th class="col-md-3 align-right">
            <p class="text-muted">Дії</p>
          </th>
        </tr>
        </thead>

        <tbody ng-repeat="doc in documents">

        <tr id="document">
          <td>
            {{doc.oDocumentType.sName}}
            <!--{{doc.sName}}-->
          </td>
          <td>
            {{doc.sDate_Upload | date:'dd MMMM yyyy HH:mm'}}
          </td>
          <td>
            {{doc.sSubjectName_Upload}}
            <input type="hidden"
                   value="{{doc.nID}}">
            <input type="hidden"
                   value="{{doc.sName}}">
          </td>
          <td>
            <a href ng-click="showSignDataPopup(doc)" ng-if="getSignData(doc)" ng-bind="getSignData(doc)"></a>
          </td>
          <td>
            <a ng-href="{{getDocumentLink(doc.nID)}}"
               target="_self">
                        <span class="glyphicon glyphicon-download"
                              title="Завантажити копію"
                              aria-hidden="true"></span></a>
            <a href="#share{{doc.nID}}" ng-click="showShareTab()"
               class="accordion-toggle">
                        <span class="glyphicon glyphicon-link"
                              title="Надати доступ третій особі"
                              aria-hidden="true"></span>
            </a>
          </td>
        </tr>
        <tr id="#share{{doc.nID}}" ng-show="shareTab">
          <td colspan="4">
            <div>
              <h3 class="input-header">Надати доступ до електронного документу</h3>

              <p class="input-header">Ви можете надати доступ до документу, згенерувавши код до нього. За цим
                кодом можна буде знайти Ваш документ (вкладка Пошук документу за кодом).
                Також Ви можете додатково захистити документ SMS-паролем.</p>
              <br>

              <p style="display: none; color:red;"><b>Розділ у процесі розробки!</b></p>
              <center>
                <div class="panel panel-default"
                     ng-init="isPhoneFormVisible = 'false'">
                  <div class="row" style="width: 600px;">
                    <div class="col-md-12">
                      <form name="shareLinkForm"
                            role="form"
                            ng-submit="shareLinkForm.$valid && shareLink(doc, sFIO, sTelephone, sMail, nDays)"
                            style="text-align:left;"
                      >
                        <div class="row">
                          <div class="form-group">
                            <label for="name">Введіть ім’я та прізвище людини, якій Ви надаєте доступ:
                              <em>*</em></label>
                            <input type="text"
                                   required
                                   ng-model="sFIO"
                                   class="form-control"
                                   id="name"
                                   autofocus/>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group">
                            <label for="nDays">Введіть термін дії доступу: <!--em>*</em--></label>

                            <select class="form-control"
                                    required
                                    ng-model="nDays"
                                    ng-options="item.day as item.title for item in nDaysOptions"
                                    id="nDays">
                            </select>

                            <!--
                            <select class="form-control"
                                    ng-model="nDays"
                                    id="nDays">
                                <option ng-repeat="item in nDaysOptions" value="{{item.day}}" ng-selected="item.day == 1">{{item.title}}</option>
                            </select>
                            -->


                          </div>
                        </div>
                        <div class="row">

                          <p>Чи бажаєте Ви захистити документ SMS-паролем? Ви можете ввести номер
                            мобільного телефону людини, якій Ви надаєте доступ, і тоді для входу їй
                            потрібно буде ввести SMS-пароль</p>


                          <input id="other"
                                 type="radio"
                                 name="content"
                                 ng-model="isPhoneFormVisible"
                                 value="false">
                          <label for="other">Hi</label>

                          <br/>

                          <input id="first"
                                 type="radio"
                                 name="content"
                                 ng-model="isPhoneFormVisible"
                                 value="true">
                          <label for="first">Так</label>
                        </div>

                        <div class="row"
                             ng-show="isPhoneFormVisible == 'true'">
                          <div class="form-group"
                               ng-class="{'has-success': shareLinkForm.phone.$valid}">
                            <label for="phone">Введіть номер її мобільного телефону
                              <span class="snippet">(через нього вона веріфікується через SMS)</span>
                            </label><br/>

                            <div class="alert alert-danger"
                                 ng-show="shareLinkForm.phone.$error.minlength && shareLinkForm.email.$touched">
                              Мало цифр у номері, перевірте його правильність
                            </div>
                            <div class="alert alert-danger"
                                 ng-show="shareLinkForm.phone.$error.maxlength">
                              Забагато цифр у номері, перевірте його правильність
                            </div>
                            <div class="alert alert-danger"
                                 ng-show="shareLinkForm.phone.$error.pattern">
                              У номері мають бути лише цифри та + на початку
                            </div>
                            <input type="tel"
                                   class="form-control"
                                   style="width: auto;"
                                   id="phone"
                                   name="phone"
                                   ng-model="sTelephone"
                                   ng-pattern="/^\+[0-9]{1,}$/"
                                   ng-minlength="4"
                                   ng-maxlength="13"/>
                          </div>
                        </div>

                        <div class="row">


                          <div class="form-group"
                               ng-class="{'has-success': shareLinkForm.email.$valid && shareLinkForm.email.$touched}">

                            <label for="email">Введіть електронну пошту:
                              <span class="snippet">(якщо вказане, то на вказаний адрес буде надіслано посилання на документ)</span>
                            </label>

                            <div class="alert alert-danger"
                                 ng-show="!shareLinkForm.email.$valid && shareLinkForm.email.$touched">
                              Не вірний формат електроної адреси!
                            </div>

                            <input type="email"
                                   ng-model="sMail"
                                   class="form-control"
                                   name="email"
                                   id="email">
                          </div>
                        </div>

                        <div class="submit-button">
                          <button type="submit"
                                  class="btn btn-primary"
                                  ng-disabled="shareLinkForm.$invalid">Отримати код
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </center>

            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/ng-template"
        id="urlmodal.html">
  <div class="modal-body">
    <div class="link-modal form-group col-md-12">
      <label for="link">Посилання, за яким користувач може отримати доступ <b ng-show="isPhoneFormVisible == 'true'">
        (через SMS-пароль)</b></label>

      <div class="input-group">
        <input type="text"
               ng-model="url"
               readonly
               class="form-control"
               id="link"
               style="cursor: auto;"
        />
                <span class="input-group-btn"
                      clip-copy="url">
                    <span class="btn btn-default" type="button">
                      <i class="glyphicon glyphicon-pushpin" title="Скопіювати у бувер обміну"></i>
                    </span>
                </span>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="close()">OK
    </button>
  </div>
</script>

<script type="text/ng-template"
        id="documentsigndata.html">
  <div class="sign-data-modal" style="padding: 10px;">

    <h2>Дані єлектроного підпису</h2>
    <table>
      <tr>
        <th>ІНН:</th>
        <td>{{oSignData.customer.inn}}</td>
      </tr>
      <tr>
        <th>Ім'я:</th>
        <td>{{oSignData.customer.fullName}}</td>
      </tr>
      <tr>
        <th>Дійсний з:</th>
        <td>{{oSignData.customer.signatureData.dateFrom}}</td>
      </tr>
      <tr>
        <th>Дійснйи до:</th>
        <td>{{oSignData.customer.signatureData.dateTo}}</td>
      </tr>
      <tr>
        <th>Опис:</th>
        <td>{{oSignData.customer.signatureData.desc}}</td>
      </tr>
      <tr>
        <th>Назва:</th>
        <td>{{oSignData.customer.signatureData.name}}</td>
      </tr>
      <tr>
        <th>Серійний номер:</th>
        <td>{{oSignData.customer.signatureData.serialNumber}}</td>
      </tr>
      <tr>
        <th>Серійний номер 2:</th>
        <td>{{oSignData.customer.signatureData.sn}}</td>
      </tr>
      <tr>
        <th>Часова відмітка:</th>
        <td>{{oSignData.customer.signatureData.timestamp}}</td>
      </tr>
    </table>

    <h2>Установи</h2>

    <div ng-repeat="organization in oSignData.customer.organizations" style="margin-bottom: 20px;">
      <table>
        <tr>
          <th>Найменування:</th>
          <td>{{organization.name}}</td>
        </tr>
        <tr>
          <th>Адреса:</th>
          <td>{{organization.address.state}} обл., м. {{organization.address.city}}</td>
        </tr>
        <tr ng-if="organization.mfo">
          <th>МФО:</th>
          <td>{{organization.mfo}}</td>
        </tr>
        <tr ng-if="organization.ownerDesc">
          <th>Опис:</th>
          <td>{{organization.ownerDesc}}</td>
        </tr>
        <tr ng-if="organization.position">
          <th>Позиція:</th>
          <td>{{organization.position}}</td>
        </tr>
      </table>
    </div>

  </div>

</script>
