<div class="list-group">

  <place></place>

  <div class="list-group-item">
    <div class="spacer10"></div>

    <div class="row">
      <div class="col-md-12 text-center">
        <label>
          <strong>На жаль, поки що у Вашому регіоні неможливе надання цієї послуги в електронному вигляді.</strong>
        </label>
      </div>

      <div class="col-md-12 spacer20"></div>

      <div class="col-md-12 text-center">
        <label><strong>Ви можете допомогти пришвидшити процес переведeння послуги в електронний вигляд:</strong></label>
      </div>

      <div class="col-md-12 spacer20"></div>

      <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12 text-center">
        Поділіться посиланням на цю сторінку в соціальних мережах із закликом підтримати ініціативу по переводенню послуги в електронний вигляд
        <br>
        <div class="spacer10"></div>
        <center>
          <div class="pluso"
               style="margin-top:10px;"
               data-background="transparent"
               data-options="big,round,line,horizontal,counter,theme=04"
               data-title="Закликаю владу перевести цю послугу в електронну форму! {{selectedCountry}}{{selectedRegion}}{{selectedCity}} — {{service.sName}}"
               data-description="{{selectedCountry}}{{selectedRegion}}{{selectedCity}} — {{service.sName}}"
               data-services="facebook,vkontakte,twitter">
          </div>
        </center>
      </div>

      <div class="col-md-6 col-md-offset-1 col-sm-6 col-xs-12 text-center">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12">
            <p>Залиште свій email.</p>
            <p>Ми Вас поінформуємо, як тільки ця послуга буде доступна в електронному вигляді</p>
          </div>

          <div class="email-absent-form col-md-12 col-xs-12 text-center">
            <form name="absentMessageForm" class="form-inline" novalidate>
              <div class="form-group">
                  <input class="form-control"
                         type="email"
                         class="form-control"
                         data-ng-model="absentMessage.email"
                         name="email"
                         placeholder="Ваш email:"
                         required
                         ng-keyup="emailKeydown($event, absentMessageForm, absentMessage)"
                         ng-model-options="{ updateOn: 'blur' }"/>

                  <button type="submit"
                          data-ng-click="sendAbsentMessage(absentMessageForm, absentMessage)"
                          class="btn btn-default">
                    Зберегти
                  </button>
              </div>

              <div role="alert" ng-if="absentMessage.showErrors">
                  <span class="error" ng-if="absentMessageForm.email.$error.required">Введіть Вашу email-адресу</span>
                  <span class="error" ng-if="absentMessageForm.email.$error.email">Введіть коректну email адресу</span>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <place-edit></place-edit>

</div>
