<div class="list-group">

    <place></place>

    <div class="list-group-item disabled">
        <div class="row no-margin-bottom">
            <div class="col-md-11">Крок 2. Ви увійшли як {{account.customer.firstName}} {{account.customer.middleName}} {{account.customer.lastName}}
            </div>
            <div class="col-md-1" ng-if="authControlIsComplete()">
                <div class="link-button">
                    <a ng-click="editBankId()">Змінити</a>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group-item">
        <div class="row no-margin-bottom">
            <h3 class="text-center">Шановний(-а) {{account.customer.firstName}} {{account.customer.middleName}}!</h3>
            <div class="text-center">Ваше звернення №{{data.id}} успішно зареєстровано,
            </div>
            <div class="text-center" ng-bind-html="getHtml(data.formData.params.response.value)" ng-if="data.formData.params.response.value"></div>
            <div class="text-center" ng-if="!data.formData.params.response.value">Результати будуть спрямовані на Ваш e-mail {{data.formData.params.email.value}}</div>
        </div>
    </div>

    <place-edit></place-edit>

</div>
