<div class="list-group">
	<div class="list-group-item" ng-class="{'disabled': data.city}">
		<div class="row no-margin-bottom">
			<div class="col-md-11 form-inline">
				<span>Крок 1. Оберіть свій регіон </span>
				<div style="display:inline-block">
					<span>Область</span>
					<select class="form-control" name="region" ng-model="data.region" ng-options="region as region.sName for region in places.aRegion track by region.nID" ng-disabled="data.city"></select>
				</div>
				<div style="display:inline-block" ng-if="data.region">
					<span>Місто</span>
					<select class="form-control" name="city" ng-model="data.city" ng-options="city as city.sName for city in data.region.aCity track by city.nID" ng-disabled="data.city"></select>
				</div>
			</div>
			<div class="col-md-1" ng-if="data.city">
				<div class="link-button">
					<a ng-click="step1()">Змінити</a>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group-item disabled">
		<div class="row no-margin-bottom">
			<div class="col-md-11">Крок 2. Ви увійшли як {{account.customer.firstName}} {{account.customer.middleName}} {{account.customer.lastName}}</div>
			<div class="col-md-1">
				<div class="link-button">
					<a ng-click="step2()">Змінити</a>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group-item">
		<div class="row">
			<div class="col-md-12">Крок 3. Ви зможете отримати довідку про несудимість у ГУМВС м.Львова, С.Бандери, 1, м. Львів через 2 тижні. Ви отримаєте повідомлення через SMS та Email, коли довідка буде готова.</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="highlight">
					<form name="form" novalidate>
						<div class="row" ng-repeat="property in ActivitiForm.formProperties track by property.id" ng-if="property.id != 'processName'">
							<div class="col-md-5">{{property.name}}:</div>
							
							<div class="col-md-3" ng-class="{'has-error': form[property.id].$invalid}" ng-if="!data.fields[property.id]">
								<input type="text" name="{{property.id}}" ng-model="data.formData.params[property.id]" ng-required="property.required" class="form-control" value="">
							</div>
							<div class="col-md-3" ng-if="data.fields[property.id]" ng-bind="data.formData.params[property.id]">
								<input type="hidden" name="{{property.id}}" ng-model="data.formData.params[property.id]" ng-required="property.required" class="form-control" value="">
							</div>
							
							<div class="col-md-4"></div>
						</div>
						<div class="row">
							<div class="col-md-5"></div>
							<div class="col-md-3">
								<button class="btn btn-info" ng-click="submit(form)">Замовити довідку</button>
							</div>
							<div class="col-md-4"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>