<footer class="footer">
	<div class="container" style="margin-top: 10px;margin-bottom: 5px; line-height: 20px;">
            <table style="width: 100%">
                <tr>
                    <td>
                        <!--p class="text-muted text-left"-->
                        <table>
                            <tr>
                                <td style="width:200px;">
                                    <p class="text-muted text-center">
                                        <a href="https://docs.google.com/forms/d/1uXt5BEVAWBhftuDNWQTUUJJp_etYKhXyh70kCdznCqY/viewform">Державним органам:
                                            <br>додати свою послугу</a> 
                                    </p>
                                </td>
                                <td style="width:200px;">
                                    <p class="text-muted text-center">
                                        <a href="https://docs.google.com/forms/d/1zyLyRcsL0wnB_VQeondrULHsEUi1dIaUSLJVWsdzbDY/viewform">Немає якоїсь
                                            <br>послуги?</a> 
                                    </p>
                                </td style="width:200px;">
                                <td>
                                    <p class="text-muted text-center">
                                        <a href="https://www.facebook.com/igov.org.ua">Новини порталу
                                            <br>на Facebook</a> 
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <!--/p-->
                    </td>
                    <td>
                        <p class="text-muted text-right">
                            Зроблено ІТ-волонтерами
                        </p>
                    </td>
                </tr>
            </table>
            <!--p class="text-muted text-center"> iGov.org.ua @ Зроблено ІТ-волонтерами України</p-->
	</div>
</footer>
