<footer class="footer">
	<div class="container">
            <table style="width: 100%">
                <tr>
                    <td>
                        <p class="text-muted text-left">
                            <a href="#">Державним органам: додати свою послугу на iGov</a> 
                            <br>
                            <a href="#">Громадянам та бізнесу: в каталозі немає послуги?</a> 
                            <a href="#">Новини Порталу iGov на Facebook</a> 
                        </p>
                    </td>
                    <td>
                        <p class="text-muted text-right">
                            Зроблено ІТ-волонтерами України
                        </p>
                    </td>
                </tr>
            </table>
            <!--p class="text-muted text-center"> iGov.org.ua @ Зроблено ІТ-волонтерами України</p-->
	</div>
</footer>
