<nav class="navbar navbar-default navbar-static-top">
    <div class="container" style="height: 90px;">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="navbar-header">
			<a style="margin-top: 10px;" class="navbar-brand" href="/">iGov.org.ua</a>
			<br>
			<p class="sitename">портал державних послуг</p>
		</div>
                <div class="navbar-header">
			<br>
			<p class="sitename" style="color:red;">Увага: сайт в процесі розробки!</p>
		</div>
            
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li style="height: 90px;" class="menu-item" ui-sref-active="selected">
                                    
					<a style="margin-top: 5px;" ui-sref="index">
						<h4>Послуги</h4>
					</a>
				</li>
				<li style="height: 90px;" class="menu-item" ui-sref-active="selected">
					<a style="margin-top: 5px;" ui-sref="documents">
						<h4>Мої документи</h4>
					</a>
				</li>
				<li style="height: 90px;" class="menu-item" ui-sref-active="selected">
					<a style="margin-top: 5px;" ui-sref="journal">
						<h4>Мій журнал</h4>
					</a>
				</li>
				<li style="height: 90px;" class="menu-item" ui-sref-active="selected">
					<a style="margin-top: 5px;" ui-sref="about">
						<h4>Про портал</h4>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>