<div class="modal-header">
  <h3 class="modal-title" ng-if="!isNew">Редагування підкатегорії</h3>
  <h3 class="modal-title" ng-if="isNew">Створення нової підкатегорії</h3>
</div>

<form class="form-horizontal" name="subcategoryEditForm" novalidate>
  <div class="modal-body">
    <div class="form-group" ng-if="!isNew">
      <label class="col-md-3 col-xs-3 control-label">ID</label>
      <div class="col-md-9 col-xs-9" >
        <input class="form-control" name="name" ng-model="entity.nID" disabled>
      </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error': subcategoryEditForm.name.$dirty && subcategoryEditForm.name.$invalid }">
      <label class="col-md-3 col-xs-3 control-label">Назва</label>
      <div class="col-md-9 col-xs-9" >
        <input class="form-control" name="name" ng-model="entity.sName" placeholder="Введіть назву, будь ласка" required>
      </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error': subcategoryEditForm.id.$dirty && subcategoryEditForm.id.$invalid }">
      <label class="col-md-3 col-xs-3 control-label">Ідентифікатор</label>
      <div class="col-md-9 col-xs-9" >
        <input class="form-control"
               name="id"
               ng-model="entity.sID"
               placeholder="Введіть ідентифікатор англійською мовою без пробілів"
               ng-pattern="/^[\x20-\x7E]+$/"
               required>
      </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error': subcategoryEditForm.order.$dirty && subcategoryEditForm.order.$invalid  }">
      <label class="col-md-3 col-xs-3 control-label">Порядковий номер</label>
      <div class="col-md-9 col-xs-9" >
        <input class="form-control"
               name="order"
               ng-model="entity.nOrder"
               ng-pattern="/^[0-9]{1,7}$/"
               placeholder="Введіть порядковий номер, будь ласка"
               required>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="subcategoryEditForm.$invalid" ng-click="save()">
      Сохранити
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">
      Відмінити
    </button>
  </div>
</form>


