body {
    font-family: 'PT Sans', sans-serif;
    font-size: 160%;
}
h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}
h3 {
    font-weight: bold
}
h4 {
    margin: 0px 0px 0px 0px;
    line-height: 80px;
}
hr {
    border: 0;
    border-top: 2px solid #b2d5e7;
    display: block;
    height: 2px;
    margin: 1em 0;
    padding: 0;
}
p {
    margin: 0 0 0 0;
}
label {
    font-weight: normal !important;
}
.row {
    margin-bottom: 10px;
}
.row li {
    margin-top: 10px
}
.sitename {
    color: #ffffff;
    float: left;
    position: absolute;
    top: 50px;
}
.navbar-default {
    background-color: #65abd0;
    border-color: #65abd0;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    min-height: 80px;
    margin-bottom: 40px;
}
.nav>li>a {
  padding: 0px 15px;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 300%;
    font-weight: bold;
    margin-top: -2px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff
}
.navbar-default .navbar-text {
    color: #ffffff
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #65abd0;
    color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #65abd0;
    color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #65abd0
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #65abd0
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #65abd0;
    border-top: 0px solid transparent;
    -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
}
.navbar-default .navbar-link {
    color: #ffffff
}
.navbar-default .navbar-link:hover {
    color: #ffffff
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #65abd0;
        color: #ffffff;
    }
    .navbar-default{
    margin-bottom: 20px;
    }
    .navbar-default .navbar-brand {
    margin-top: 10px;
    }
    .navbar-toggle {
    margin-top: 20px;   
    }
    .sitename {
    color: #ffffff;
    float: left;
    position: absolute;
    top: 50px;
    left: 15px;
    }
    h4 {
    margin: 0px 0px 0px 0px;
    line-height: 40px;
    }
    .sitename {
        display: none;
    }
}    

.share-form {
    padding: 30px
}
.panel-default {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px
}
.input-header {
    text-align: center;
    padding-left: 80px;
    padding-right: 80px
}
.submit-button {
    text-align: center;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    margin-top: 50px;
    width: 100%;
}
.footer p {
    margin: 0 0 0px
}
.btn-primary{
    background-color: #65abd0;
    border-color: #65abd0;
    color: #fff;
    font-size: 100%;   
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover{
    background-color: #65abd0 !important;
    border-color: #65abd0;
}
.btn-default .badge-info .btn-primary{
    background-color: #65abd0;
    color: #fff;
}
.big-inner-addon {
    position: relative;
}
.big-inner-addon input {
    padding-left: 40px;
    padding-right: 40px;
}
.big-inner-addon .al-left {
    position: absolute;
    left: 15px;
    top: 17px;
    pointer-events: none;
    color: #C0C0C0;
}
.big-inner-addon .al-right {
    position: absolute;
    top: 17px;
    right: 15px;
    color: #000000;
    font-size: 80%;
}
.ord-inner-addon {
    position: relative;
}
.ord-inner-addon input {
    padding-left: 30px;
    padding-right: 25px;
}
.ord-inner-addon .al-left {
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    font-size: 80%;
    color: #C0C0C0;
}
.ord-inner-addon .al-right {
    position: absolute;
    top: 14px;
    right: 10px;
    color: #000000;
    font-size: 60%;
}
.table-striped > tbody > tr.hrow{
  background-color: #fff;
  line-height: 0px;
}