<div class="service-name">{{service.sName}}</div>
<div class="operator-name">{{service.sSubjectOperatorName}}</div>
<div class="list-group">
    <div class="list-group-item"
         ng-class="{'disabled': data.region}">
        <div class="row no-margin-bottom">
            <div class="col-md-11 form-inline">
                <strong><span>Крок 1. Оберіть свій регіон - CLONE: service/region/link/index.html </span></strong>

                <div style="display:inline-block">
                    <span>Область</span>
                    <select class="form-control"
                            name="region"
                            ng-model="data.region"
                            ng-options="region as region.sName for region in places | orderBy:'sName'"
                            ng-disabled="data.city"></select>
                </div>
            </div>
            <div class="col-md-1"
                 ng-if="data.region">
                <div class="link-button">
                    <a href="#">Змінити</a>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item disabled"
         ng-if="data.region">
        <span>Крок 2.</span>

        <div class="service-description">
            <p class="service-description-text"
               ng-bind-html="serviceData.sNote"
               ng-if="serviceData.sNote"></p>

            <div class="service-button-go">
                <a ng-href="{{serviceData.sURL}}"
                   class="btn btn-primary"
                   target="_blank">Перейти</a>
            </div>
        </div>
    </div>
</div>