<div class="list-group">
	<div class="list-group-item">
		<div class="row no-margin-bottom">
			<div style="margin:0px 10px 0px 10px" class="col-md-50" ng-if="service.sInfo.trim()!=''">
                            {{service.sInfo}}
			</div>
			<div class="col-md-10" ng-if="service.sInfo.trim()==''">
                            Розділ у процесі наповнення
                            <!--1{{service.sInfo}}
                            2{{service.id}}
                            3{{id}}
                            4{{data.params.id}}
                            5{{state.params.service.sInfo}}-->
			</div>
		</div>
	</div>
        <div class="ctrls-line">
            <a class="ctrls-admin ctrls-srvc-edit" href="" ng-hide="hiddenCtrls"><span class="glyphicon glyphicon-pencil"></span> Редагувати</a>  
            <a class="ctrls-admin ctrls-srvc-save" href="" ng-hide="hiddenCtrls"><span class="glyphicon glyphicon-ok"></span> Зберегти</a>  
            <a class="ctrls-admin ctrls-srvc-cancel" href="" ng-hide="hiddenCtrls"><span class="glyphicon glyphicon-minus"></span> Скасувати</a>
        </div>
</div>