<div class="container">
    <div class="service-name">{{service.sName}}</div>
    <div class="operator-name">{{service.sSubjectOperatorName}}</div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li ui-sref-active="active"
                    role="presentation">
                    <a ui-sref="index.service.general({id: service.nID})">Послуга</a>
                </li>
                <li ui-sref-active="active"
                    ng-if="service.sInfo.trim() || (false && bAdmin)"
                    role="presentation">
                    <a ui-sref="index.service.instruction({id: service.nID})">Як працює</a>
                </li>
                <li ui-sref-active="active"
                    ng-if="service.sLaw.trim() || (false && bAdmin)"
                    role="presentation">
                    <a ui-sref="index.service.legislation({id: service.nID})">Законодавство</a>
                </li>
                <li ui-sref-active="active"
                    ng-if="service.sFAQ.trim() || (false && bAdmin)"
                    role="presentation">
                    <a ui-sref="index.service.questions({id: service.nID})">Поширенні питання</a>
                </li>
                <li ui-sref-active="active"
                    style="display: none;"
                    role="presentation">
                    <a ui-sref="index.service.discussion({id: service.nID})">Обговорення</a>
                </li>
              <li ui-sref-active="active"
                  role="presentation">
                <a ui-sref="index.service.statistics({id: service.nID})">Статистика</a>
              </li>
            </ul>
        </div>
    </div>

    <div ui-view="content">
        <div class="text-center">
            <img class="text-center"
                 src="assets/images/loading.gif"
                 alt="Loading"/>
        </div>
    </div>
    
</div>