<div class="modal-header">
  <h3 class="modal-title">Оберіть робочі дні тижня</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">

    <div class="form-group">
      <label for="inputName" class="col-md-3 control-label">Назва</label>
      <div class="col-md-9">
        <input class="form-control" id="inputName" ng-model="data.sName" placeholder="Введіть назву будь ласка">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <div class="spacer35"></div>
        <label class="control-label pull-right">Час прийому з </label>
      </div>
      <div class="col-md-3">
        <timepicker ng-model="data.sDateTimeAt" minute-step="5" show-meridian="false"></timepicker>
        <!-- <input class="form-control" id="fromTime" placeholder="Оберіть час" ng-model="data.sDateTimeAt"> -->
      </div>
      <div class="col-md-1">
        <div class="spacer35"></div>
        <label class="control-label">до </label>
      </div>
      <div class="col-md-3">
        <timepicker ng-model="data.sDateTimeTo" minute-step="5" show-meridian="false"></timepicker>
        <!-- <input class="form-control" id="toTime" placeholder="Оберіть час" ng-model="data.sDateTimeTo"> -->
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="data.saRegionWeekDay.mo"> Понеділок
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="data.saRegionWeekDay.tu"> Вівторок
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="data.saRegionWeekDay.we"> Середа
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="data.saRegionWeekDay.th"> Четвер
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="data.saRegionWeekDay.fr"> П'ятниця
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="data.saRegionWeekDay.sa"> Субота
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="data.saRegionWeekDay.su"> Неділя
          </label>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" ng-click="save()">Сохранити</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Відмінити</button>
    </div>
  </form>

</div>
