<!--div style="margin-top:20px; font-size:25px;">{{service.sName}}</div>
<div style="margin-bottom:20px; font-size:18px;color:#cccccc;">{{service.sSubjectOperatorName}}</div-->

<div class="list-group">
    <div class="list-group-item"
         ng-class="{'disabled': data.city}">
        <div class="row no-margin-bottom">
            <div class="col-md-11 form-inline">
                <span class="step">Крок 1. Оберіть свій регіон </span>

                <div style="display:inline-block">
                    <span>Область</span>
                </div>
                <div style="display:inline-block">
                    <div style="position:relative"
                         dropdown
                         is-open="regionList.dropdown.isOpen">
                        <div class="input-group">
                            <input autocomplete="off"
                                   class="form-control"
                                   name="region"
                                   type="text"
                                   ng-model="regionList.typeahead.model"
                                   typeahead="region as region.sName for region in loadRegionList($viewValue)"
                                   typeahead-on-select="onSelectRegionList($item)"
                                   typeahead-template-url="html/bootstrap/typeahead/typeahead-match-region.html"
                                   typeahead-empty
                                   ng-disabled="data.region"/>
							<span class="input-group-btn">
								<button class="btn btn-default"
                                        type="button"
                                        ng-disabled="data.region"
                                        dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
							</span>
                        </div>
                        <ul class="dropdown-menu"
                            role="menu">
                            <li ng-repeat="region in regionList.dropdown.list track by $index">
                                <a ng-click="onSelectRegionList(region, null, null)"
                                   ng-class="{'color-green': (region.color == 'green'), 'color-red': (region.color == 'red')}">{{region.sName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="display:inline-block"
                     ng-if="data.region">
                    <span>Місто</span>
                </div>
                <div style="display:inline-block"
                     ng-if="data.region">
                    <div style="position:relative"
                         dropdown
                         is-open="localityList.dropdown.isOpen">
                        <div class="input-group">
                            <input autocomplete="off"
                                   class="form-control"
                                   name="city"
                                   type="text"
                                   ng-model="localityList.typeahead.model"
                                   typeahead="city as city.sName for city in loadLocalityList($viewValue)"
                                   typeahead-on-select="onSelectLocalityList($item)"
                                   typeahead-template-url="html/bootstrap/typeahead/typeahead-match-city.html"
                                   typeahead-empty
                                   ng-disabled="data.city"/>
							<span class="input-group-btn">
								<button class="btn btn-default"
                                        type="button"
                                        ng-disabled="data.city"
                                        dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
							</span>
                        </div>
                        <ul class="dropdown-menu"
                            role="menu"
                            ng-show="localityList.dropdown.list.length > 0">
                            <li ng-repeat="city in localityList.dropdown.list track by $index">
                                <a ng-click="onSelectLocalityList(city, null, null)"
                                   ng-class="{'color-green': (city.color == 'green'), 'color-red': (city.color == 'red')}">{{city.sName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-1"
                 ng-if="data.city">
                <div class="link-button">
                    <a href="#"
                       ng-click="step1()">Змінити</a>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item"
         ng-show="data.city"
         ui-view="status"></div>
</div>