<div ng-show="isShowWarning()">
  <h3 class="text-center">Оберіть бізнес-процес, що включено до Flow_ServiceData.csv у проекті wf-base</h3>
  <h5 class="text-center">Наразі це бізнес-процеси з наступними Id: "Test sID_BP", "kiev_mreo_1", "dnepr_mreo_1", "dnepr_dms_passport"</h5>
</div>
<div ng-show="isInProgress()">
  <h3 class="text-center">Заждіть</h3>
</div>

<div ng-show="isShowData()">
  <table class="table">
    <thead>
    <tr>
      <th>№</th>
      <th>Назва</th>
      <th>Дні тижня</th>
      <th>Проміжок часу</th>
      <th>Час дії</th>
      <th>Дii</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="slot in get()">
      <th scope="row">{{slot.nID}}</th>
      <th scope="row">{{slot.sName}}</th>
      <td>
        <p ng-show="slot.saRegionWeekDay.mo" >Понеділок</p>
        <p ng-show="slot.saRegionWeekDay.tu">Вівторок</p>
        <p ng-show="slot.saRegionWeekDay.we">Середа</p>
        <p ng-show="slot.saRegionWeekDay.th">Четвер</p>
        <p ng-show="slot.saRegionWeekDay.fr">П'ятниця</p>
        <p ng-show="slot.saRegionWeekDay.sa">Субота</p>
        <p ng-show="slot.saRegionWeekDay.su">Неділя</p>
      </td>
      <td> {{slot.sRegionTime}}</td>
      <td> {{slot.duration}}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="edit(slot)">
            Редагувати
          </button>
          <button type="button" class="btn btn-warning" ng-click="copy(slot)"
                  tooltip="Копіювати" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-append-to-body="true">
            <i class="fa fa-copy"></i>
          </button>
          <button type="button" class="btn btn-danger" ng-click="delete(slot)"
                  tooltip="Видалити" tooltip-trigger="mouseenter" tooltip-placement="top"  tooltip-append-to-body="true">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-primary" ng-click="add()">Додати</button></td>
    </tr>
    </tbody>
  </table>
</div>
