<div class="row">
    <div class="col-md-12">
        <h1>Заявки</h1>
        <p>На цій сторінці Ви можете переглянути статус по своїй заявці за її номером.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div style="width: 600px;border: 0px; /*border-color: white;*/ /*#ddd;*/" class="panel panel-default">
            <div class="row">
                <div class="col-md-12">
                        <div class="row">
                            <form name="searchForm"
                                  role="form"
                                  ng-submit="searchForm.$valid && searchOrder(sID)"
                                  style="text-align:left;"
                                    >
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="code">Номер заявки</label>
                                    </div>
                                    <div class="col-md-6">
                                    <input type="text"
                                           required
                                           ng-model="sID"
                                           class="form-control"
                                           id="code"/>
                                        </div>

                                    <div class="col-md-3">
                                        <a ng-disabled="searchForm.$invalid"
                                           ng-click="searchForm.$valid && searchOrder(sID)">Переглянути</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <br>

                    <div ng-repeat="message in messages">
                        <div class="alert alert-info" role="alert">
                            {{message}}
                        </div>
                    </div>

                    <div ng-show="orders.length > 0">
                        <div>
                            Тип заявки: Услуга
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-6">
                                    <p class="text-muted">Час</p>
                                </th>
                                <th class="col-md-6">
                                    <p class="text-muted">Статус</p>
                                </th>
                            </tr>
                            </thead>

                            <tbody ng-repeat="or in orders">

                            <tr id="document">
                                <td>
                                    {{ or.sDateEdit | date: 'dd MMMM yyyy HH:mm'}}
                                </td>
                                <td>
                                    {{or.sID_Status}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>