$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

/*$grid-float-breakpoint: 992px;*/

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// Component styles are injected through grunt
// injector
// endinjector

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;

  font-size: 160%;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-weight: bold
}

hr {
  border: 0;
  border-top: 2px solid #b2d5e7;
  display: block;
  height: 2px;
  margin: 1em 0;
  padding: 0;
}

p {
  margin: 0 0 0 0;
}

label {
  font-weight: normal !important;
}

a, .control-element {
  cursor: pointer;
}

a, a:focus, a:hover {
  outline: none;
}

.row {
  margin-bottom: 10px;
}

.row li {
  margin-top: 10px
}

.sitename {
  color: #ffffff;
  float: left;
  position: absolute;
  top: 50px;
  margin-left: 30px;
  margin-top: 10px;
}

.navbar-top-fixed {
  background: #d1e4ee;
  border-top: 1px solid #cbdbe3;
  border-bottom: 1px solid #d8e8f0;

  span {
    margin-top: 5px;
    padding: 0 15px 0 0;
    line-height: 25px;
    color: #74b3d4;
    font-size: 17px;

  }

  a {
    top: 4px;
    line-height: 25px;
    color: #74b3d4;
    text-decoration: none;

    span {
      padding: 0 0 0 5px;
      font-family: 'PT Sans', sans-serif;
      font-size: 17px;
    }
  }

  a:hover {
    background-color: #d1e4ee;
  }
}

.i-nav {
  background-color: #65abd0;
  border-color: #65abd0;
  border-radius: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  min-height:90px;

  .navbar-brand {
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    margin-top: 10px;
  }

  .navbar-brand:hover,
  .navbar-brand:focus {
    color: #ffffff
  }

  .navbar-text {
    color: #ffffff
  }

  .navbar-nav {
    margin: 0 -15px 0 -15px;

    .menu-item:hover {
      background-color: #87caf0;
    }

    .menu-item.selected {
      background-color: #77bae0;
    }

    .menu-item > a {
      color: #ffffff;
      margin-top: 5px;
      line-height: 85px;
      font-size: 18px;
      padding: 0 15px;
    }

    .menu-item > a:hover,
    .menu-item > a:focus {
      color: #ffffff
    }

    .menu-item.active > a,
    .menu-item.active > a:hover,
    .menu-item.active > a:focus,
    .menu-item.open > a,
    .menu-item.open > a:hover,
    .menu-item.open > a:focus {
      background-color: #65abd0;
      color: #ffffff;
    }

  }

  .navbar-toggle,
  .navbar-toggle:hover,
  .navbar-toggle:focus,
  .navbar-toggle:active {
    border-color: #65abd0;
    background-color: #65abd0;
    .icon-bar {
      background-color: #ffffff
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: #65abd0;
    border-top: 0 solid transparent;
    -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, .1);
  }

  .navbar-link,
  .navbar-link:hover {
    color: #ffffff
  }

}

@media (min-width: 767px) and (max-width: 992px) {
  .i-nav {
    .container {
      width: auto;
    }

    .navbar-nav {
      .menu-item > a {
        font-size: 16px;
        padding: 0 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .i-nav {
    margin-bottom: 20px;
    min-height:70px;

    .navbar-brand {
      margin: 10px 0 10px 10px;
      padding: 15px 5px;
      font-size: 2.5em;
    }

    .navbar-toggle {
      margin-top: 20px;
    }

    .navbar-nav {

      .menu-item:not(:first-child) > a {
        margin-top: 0;
      }

      .open .dropdown-menu > li > a,
      .open .dropdown-menu > li > a:hover,
      .open .dropdown-menu > li > a:focus {
        color: #ffffff
      }
      .open .dropdown-menu > .active > a,
      .open .dropdown-menu > .active > a:hover,
      .open .dropdown-menu > .active > a:focus {
        background-color: #65abd0;
        color: #ffffff;
      }

    }
  }
  .sitename {
    display: none;
  }
}

ul.dropdown-menu {
  max-height: 270px;
  /*overflow-y: auto;*/
  overflow-y: scroll;
}

.share-form {
  padding: 30px
}

.panel-default {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 35px;
  padding-right: 35px
}

.input-header {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px
}

.submit-button {
  text-align: center;
}

.main.full-height {
  margin-bottom: 200px;
}

@media (max-width: 767px) {
  .main.full-height {
    margin-bottom: 400px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  line-height: 60px;
  margin-top: 50px;
  background-color: #f5f5f5;
  p {
    margin: 0 0 0;
  }
}

.footer-container {
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.1;
  font-size: 14px;
  .row > div {
    padding: 0.5em;
  }
  .footer-row-2 {
    margin-top: 1em;
  }
  .footer-header {
    font-size: 16px;
    margin-top: 0px;
  }
}

.btn-primary {
  background-color: #65abd0;
  border-color: #65abd0;
  color: #fff;
  font-size: 100%;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
  background-color: #65abd0 !important;
  border-color: #65abd0;
}

.btn-default .badge-info .btn-primary {
  background-color: #65abd0;
  color: #fff;
}

.btn-default .badge {
  background-color: #65abd0;
  color: #fff;
}

.big-inner-addon {
  position: relative;
}

.big-inner-addon input {
  padding-left: 40px;
  padding-right: 40px;
}

.big-inner-addon .al-left {
  position: absolute;
  left: 15px;
  top: 17px;
  pointer-events: none;
  color: #C0C0C0;
}

.big-inner-addon .al-right {
  position: absolute;
  top: 17px;
  right: 15px;
  color: #000000;
  font-size: 80%;
}

.big-inner-addon .glyphicon-remove {
  position: absolute;
  top: 17px;
  right: 35px;
}

.ord-inner-addon {
  position: relative;
}

.ord-inner-addon input {
  padding-left: 30px;
  padding-right: 25px;
}

.ord-inner-addon .al-left {
  position: absolute;
  left: 10px;
  top: 10px;
  pointer-events: none;
  font-size: 80%;
  color: #C0C0C0;
}

.ord-inner-addon .al-right {
  position: absolute;
  top: 14px;
  right: 10px;
  color: #000000;
  font-size: 60%;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(4n+2), .table-striped > tbody > tr:nth-of-type(4n+1) {
  background-color: #f9f9f9;
}

.table-striped > tbody > tr.collapse > td {
  border-top: none !important;
}

.collapsing {
  -webkit-transition: width 2s, height 4s; /* Safari */
  transition: width 2s, height 4s;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.highlight-yellow {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #EAF0BE;
  border: 1px solid #DFE8A3;
  border-radius: 4px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.btn-text {
  vertical-align: middle;
  font-weight: bold;
  margin-left: 5px;
}

.icon-logo-new-year {
  /*vertical-align: top;*/
  /*display: inline-block;*/
  /*left: 50px;*/
  /*top: 0px;*/
  background-image: url(/assets/images/icons/igov_logo_new-year_0.gif);
  background-repeat: no-repeat !important;
  //background-position: 30px 0px;
  /*background-position: 0px 0px;*/
  /*width: 23px;
  height: 19px;*/
}

.icon-logo-new-year1 {
  /*vertical-align: top;*/
  /*display: inline-block;*/
  /*left: 50px;*/
  /*top: 0px;*/
  background-image: url(/assets/images/icons/igov_logo_new-year_1.gif);
  background-repeat: no-repeat !important;
  //background-position: 30px 0px;
  /*background-position: 0px 0px;*/
  /*width: 23px;
  height: 19px;*/
}

.icon-bank-id {
  vertical-align: middle;
  display: inline-block;
  background-image: url(/assets/images/icons/bank-id.png);
  background-repeat: no-repeat !important;
  background-position: 0px 0px;
  width: 23px;
  height: 19px;
}

.icon-mobil-id {
  vertical-align: middle;
  display: inline-block;
  background-image: url(/assets/images/icons/mobil-id.png);
  background-repeat: no-repeat !important;
  background-position: 0px 0px;
  width: 87px;
  height: 20px;
}

.icon-badge {
  vertical-align: middle;
  display: inline-block;
  background-image: url(/assets/images/icons/badge.png);
  background-repeat: no-repeat !important;
  background-position: 0px 0px;
  width: 18px;
  height: 26px;
}

.icon-door-lock {
  vertical-align: middle;
  display: inline-block;
  background-image: url(/assets/images/icons/door-lock.png);
  background-repeat: no-repeat !important;
  background-position: 0px 0px;
  width: 21px;
  height: 21px;
}

.icon-e-service {
  vertical-align: middle;
  display: inline-block;
  background-image: url(/assets/images/icons/e-icon_small.png);
  background-repeat: no-repeat !important;
  background-position: 0px 0px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.icon-e-service-on {
  vertical-align: middle;
  display: inline-block;
  background-image: url(/assets/images/icons/e-icon_on_ss.png);
  background-repeat: no-repeat !important;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.icon-e-service-off {
  vertical-align: middle;
  display: inline-block;
  background-image: url(/assets/images/icons/e-icon_off_ss.png);

  background-repeat: no-repeat !important;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.icon-e-service-test {
  vertical-align: middle;
  display: inline-block;
  background-image: url(/assets/images/icons/e-icon_test_ss.png);

  background-repeat: no-repeat !important;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.i-btn-badge {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}

.i-btn-badge > span {
  display: inline-block;
}

.i-btn-badge > span > div:first-child {
  margin-bottom: -6px;
}

.department-name {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 30px;
}

.link-button {
  height: 34px;
  padding-top: 6px;
}

.notification-info {
  background-color: #FCF7E3;
  padding: 15px 10px 15px 10px;
  margin: 20px 0px 20px 0px;
  vertical-align: middle;
}

.notification-header {
  font-weight: bold;
  font-size: 90%;
  margin-bottom: 10px;
}

.notification-button-group > button.btn.btn-success {
  font-weight: bold;
  margin-bottom: 5px;
  width: 90px;
}

.notification-button-group > button.btn.btn-danger {
  font-weight: bold;
  width: 90px;
}

.nav-tabs > li > a {
  padding: 0px 55px;
  line-height: 2.42857143;
  margin-top: 10px;
}

.form-signin-bankid {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin-bankid .form-signin-bankid-heading,
.form-signin-bankid .checkbox {
  margin-bottom: 10px;
}

.form-signin-bankid .checkbox {
  font-weight: normal;
}

.form-signin-bankid .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin-bankid .form-control:focus {
  z-index: 2;
}

.form-signin-bankid input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin-bankid input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ctrls-admin {
  display: inline;
}

.glyphicon-plus {

}

.glyphicon-pencil {
  color: #b8a927;
}

.glyphicon-remove {
  color: #ff8080;
}

.ctrls-cat {
  font-size: 20px;
}

.ctrls-subcat {
  font-size: 16px;
}

.ctrls-srvc {
  font-size: 14px;
}

.ctrls-about {
  font-size: 14px;
}

.add0-cat, .add0-subcat, .add0-srvc {
  color: green;
}

.add0-subcat {
  left: 0px;
}

.ctrls-srvc-edit {
  color: #b8a927;
}

.ctrls-srvc-save, .ctrls-srvc-add {
  color: green;
}

.ctrls-srvc-cancel, .ctrls-srvc-remove {
  color: #ff8080;
}

#ctrls-swch {
  text-decoration: none;
  color: white;
}

a.pluso-more {
  display: none !important;
}

.add0-cat, .add0-subcat, .add0-srvc {
  color: #b8a927;
}

.add0-subcat {
  left: 0px;
}

.ctrls-srvc-edit {
  color: #b8a927;
}

.ctrls-srvc-save {
  color: green;
}

.ctrls-srvc-cancel {
  color: #ff8080;
}

.ctrls-srvc-activate {
  color: green;
  margin-left: 8px;
}

.ctrls-srvc-change {
  color: #b8a927;
}

.ctrls-srvc-deactivate {
  color: #ff8080;
  margin-right: 8px;
}

.ctrls-block {
  display: inline-block;
  width: 280px;
}

.ctrls-line {
  margin-top: 8px;
}

#ctrls-swch {
  text-decoration: none;
  color: white;
}

a.pluso-more {
  display: none !important;
}

.color-green {
  color: #008800 !important;
}

.active .color-green {
  color: #90ee90 !important;
}

.color-red {
  color: #ff0000 !important;
}

.dropdown-menu .color-red {
  color: #333 !important;
}

.step {
  font-weight: bold;
  padding-right: 10px;
}

label em {
  font-weight: bold;
  color: #ee4054;
}

label .snippet {
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  display: block;
  padding: 6px 0;
}

.link-modal {
  padding-top: 15px;
}

.service-description {
  border-top: 1px solid #ddd;
  margin: 10px -15px;
  padding: 0 15px;
}

.service-description-text {
  margin-top: 10px;
}

.service-button-go {
  margin-top: 10px;
}

.index-services-count {
  text-align: center;
  margin-top: 10px;
}

.index-services-count .index-services-count-item {
  /*margin-right: 30px;*/
  margin-right: 5px;
}

.index-services-count .index-services-count-item:last-child {
  margin-right: 0;
}

.pluso-counter {
  left: -20px;
}

.igov-columns-3 {
  columns: 350px;
  -webkit-columns: 350px;
  -moz-columns: 350px;
}

.s-field-notes {
  color: #aaaaaa;
  text-align: left;
}

.slot-picker .slot-day,
.slot-picker .slot-time {
  display: inline-block;
}

.slot-picker .slot-day {
  min-width: 125px;
}

.slot-picker .slot-time {
  min-width: 85px;
}

.subcategory_title {
  padding-left: 30px;
}

.site-preloader, .section-preloader {
  margin-top: 5em;
}

/**
* Vertical spacers from bootstrap 4 https://github.com/twbs/bootstrap/issues/4286
*/
.spacer5 {
  height: 5px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer15 {
  height: 15px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer20 {
  height: 20px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer25 {
  height: 25px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer30 {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer35 {
  height: 35px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer40 {
  height: 40px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer45 {
  height: 45px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer50 {
  height: 50px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer75 {
  height: 75px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer100 {
  height: 100px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer200 {
  height: 200px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/**
* Validation Styles Start
*/

$invalid-input-bg-color: #fff;
$invalid-input-border-color: #a94442;
$invalid-label-text-color: #a94442;

.error, [role=alert] div {
  color: $invalid-label-text-color;
}

.email-absent-form {
  margin-top: 44px;
  div[role="alert"] {
    padding: 1em;
  }
}

input.ng-touched.ng-invalid-email, input.ng-touched.ng-invalid-tel {
  border-color: $invalid-input-border-color;
  background-color: $invalid-input-bg-color;
}

.validation-message {
  color: $invalid-label-text-color;
}

/* Override the path to flags.png for intlTelInput */

.iti-flag {
  background-image: url("/assets/images/icons/flags.png");

  /* flags@2x.png for retina devices: */

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url("/assets/images/icons/flags@2x.png");
  }
}

/**
* Validation Styles End
*/

.kyiv-header-container .container {
  height: 175px;
  position: relative;

  .navbar-kyiv {
    position: absolute;
    right: 50px;
    bottom: 65px;
    background-color: #FFFFFF;
    border-radius: 5px;

    .navbar-right {
      margin-right: 0;

      .menu-item {
        &:first-child {
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }

        &.selected {
          text-decoration: underline;
          background-color: transparent;
        }

        a {
          margin-top: 0;
          padding: 15px 10px;
        }

        h4 {
          line-height: 1;
        }
      }
    }
  }
}

.ternopil-header-container .container {
  height: 175px;
  position: relative;

  .navbar-ternopil {
    position: absolute;
    right: 45px;
    bottom: 8px;
    background-color: #FFFFFF;

    .navbar-right {
      margin-right: 0;

      .menu-item {
        &:first-child {
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }

        &.selected {
          text-decoration: underline;
          background-color: transparent;
        }

        a {
          color: #2A4789 !important;
          margin-top: 0;
          padding: 3px 10px;
        }

        h4 {
          line-height: 1;
          font-size: 15px;
          font-weight: bold !important;
        }
      }
    }
  }
}

.kharkiv-header-container .container {
  height: 175px;
  position: relative;

  .navbar-kharkiv {
    position: absolute;
    right: 45px;
    bottom: 8px;
    background-color: rgba(255, 255, 255, 0.8);

    .navbar-right {
      margin-right: 0;

      .menu-item {
        &:first-child {
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }

        &.selected {
          text-decoration: underline;
          background-color: transparent;
        }

        a {
          color: #034B62 !important;
          margin-top: 0;
          padding: 5px 10px;
          text-decoration: none;
        }

        h4 {
          line-height: 1;
          font-size: 15px;
          font-weight: bold !important;
        }
      }
    }
  }
}

.region-header, .kyiv-header, .ternopil-header, .kharkiv-header {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat !important;
  background-position: 0px 0px;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  margin-bottom: 3px;
  background-size: cover;
}

.kyiv-header {
  background-image: url(/assets/images/baners/igov_kiev.png);
}

.ternopil-header {
  background-image: url(/assets/images/baners/igov_ternopil.png);
}

.kharkiv-header {
  background-image: url(/assets/images/baners/igov_kharkiv.png);
}

.region-header-title, .kyiv-header-title, .ternopil-header-title, .kharkiv-header-title {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat !important;
  background-position: 0px 0px;
  /*width: 100%;
  height: 100%;*/
  margin-right: 5px;
  margin-bottom: 3px;
  background-size: cover;

  position: absolute;

}

.kyiv-header-title {
  background-image: url(/assets/images/baners/igov_kiev_title.png);
  top: 35px;
  left: 100px;
  width: 428px;
  height: 95px;
}

.ternopil-header-title {
  background-image: url(/assets/images/baners/igov_ternopil_title.png);
  width: 436px;
  height: 105px;
  top: 32px;
  left: 268px;
}

.kharkiv-header-title {
  background-image: url(/assets/images/baners/igov_kharkiv_title.png);
  width: 392px;
  height: 124px;
  top: 14px;
  left: 43px;
}

/*<span class="kyiv-header" style="position:absolute;top:35px;left:100px;width:428px;height:95px;"></span>*/

/**
 * Form labels
 */

.select-list-label {
  display: inline-block;
  padding-right: 0.5em;
}

/* Place Control Begin */
.place-control {
  /*.input-group .btn {
    padding: 6px 12px 7px 12px;
  }*/

  .inline-wrapper {
    display: inline-block;
    padding-right: 10px;
  }

  .dropdown-wrapper {
    position: relative;
    display: inline-block;
  }
}

.state-collapsed {
  .place-control {
    display: inline;
    * {
      display: inline;
      color: #ccc;
    }
  }
}

.state-disabled {
  .place-control {
    display: inline;
    * {
      display: inline;
      color: #ccc;
    }
  }
}

/* Place Control End */

/* Service and Operator Name */
.service-name {
  margin-top: 20px;
  font-size: 25px;
}

.operator-name {
  margin-bottom: 20px;
  font-size: 18px;
  color: #cccccc;
}

.small-loading {
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/loading.gif");
  display: inline-block;
  background-size: 16px 16px;
  margin-left: 6px;
}

/* Dev  only: uncomment to see the element scopes' visually: .ng-scope { border: 1px solid #000; padding: 5px; } */

/**/
.update-bankid-message {
  text-align: center;
  margin-bottom: 20px;
  color: #E89341;
}

/* Fixes for mobile devices */
@media all and (min-width: 300px) and (max-width: 768px) {
  /* nav tab */
  .nav > li > a {
    padding: 0 5px;
    font-size: 8px;
    line-height: 30px;
  }
  .nav > .active > a {
    font-size: 11px;
  }
}

table.QuestionFields td {
    border-style: solid;
}
