<div class="list-group">
	<div class="list-group-item" ng-class="{'disabled': data.region}">
		<div class="row no-margin-bottom">
			<div class="col-md-11 form-inline">
				<span>Крок 1. Оберіть свій регіон </span>
				<div style="display:inline-block">
					<span>Область</span>
					<select class="form-control" name="region" ng-model="data.region" ng-options="region as region.sName for region in regions track by region.nID" ng-disabled="data.region"></select>
				</div>
			</div>
			<div class="col-md-1" ng-if="data.region">
				<div class="link-button">
					<a href="#">Змінити</a>
				</div>
			</div>
		</div>
	</div>
</div>