<!--<div ng-show="isShowWarning()">
  <h3 class="text-center">Оберіть бізнес-процес, що включено до Flow_ServiceData.csv у проекті wf-base</h3>
  <h5 class="text-center">Наразі це бізнес-процеси з наступними Id: "Test sID_BP", "kiev_mreo_1", "dnepr_mreo_1", "dnepr_dms_passport"</h5>
</div>
<div ng-show="isInProgress()">
  <h3 class="text-center">Заждіть</h3>
</div>-->

<div ng-init="fillData()">

  <table class="table">
    
    <tbody>

    <tr ng-repeat="rule in get()">

      <td>
 Якщо {{rule.condition.name}} {{rule.condition.parametersName}}, то
     {{rule.action.name}} {{rule.action.parametersName}}. Послуга:  {{rule.sID_BP}}
      </td>
     
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="openModal(rule)">
            Редагувати
          </button>
          <button type="button" class="btn btn-warning" ng-click="copy(rule)"
                  tooltip="Копіювати" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-append-to-body="true">
            <i class="fa fa-copy"></i>
          </button>
          <button type="button" class="btn btn-danger" ng-click="delete(rule)"
                  tooltip="Видалити" tooltip-trigger="mouseenter" tooltip-placement="top"  tooltip-append-to-body="true">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </td>
    </tr>

    <tr>
      
      <td></td>
      <td><button class="btn btn-primary" ng-click="add()">Додати</button></td>
    </tr>
    </tbody>
  </table>
</div>
