<div ng-init="fillData()">
  <table class="table">
    <tbody>
       <tr ng-hide="processesLoaded()"><td><h4>Завантаження списку правил...</h4></td></tr>
       <tr>
         <td>
          <button class="btn btn-primary" ng-click="add()" ng-show="processesLoaded()">Додати правило</button>
        </td>
        <td></td>
        
      </tr>
      <tr ng-repeat="rule in get() | orderBy:'-nID'">
        <td class="col-md-8">
           <b>ID: </b> {{rule.nID}},
          <b>Якщо</b> {{rule.sCondition}}, 
          <b>то</b> {{translate(rule.nID_EscalationRuleFunction.sName)}}.<br/> 
          <b>Параметри:</b> {{rule.soData}}. <br/>
          <b>Послуга:</b> {{rule.bpName}}
        </td>
        <td class="col-md-4 rulebuttons">
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="edit(rule)">
              Редагувати
            </button>
            <button type="button" class="btn btn-warning" ng-click="copy(rule)" tooltip="Копіювати" tooltip-trigger="mouseenter" tooltip-placement="top"
            tooltip-append-to-body="true" disabled=true>
              <i class="fa fa-copy"></i>
            </button>
            <button type="button" class="btn btn-danger" ng-click="delete(rule)" tooltip="Видалити" tooltip-trigger="mouseenter" tooltip-placement="top"
            tooltip-append-to-body="true">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </td>
      </tr>
     
    </tbody>
  </table>
</div>