<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <igov-search></igov-search>
    </div>
  </div>

  <div class="row">
    <h3 class="subcategory_title">{{categoryName}}: {{subcategoryName}}</h3>
  </div>

  <div class="row" ng-show="spinner">
    <div class="text-center">
      <img class="text-center section-preloader" src="/assets/images/loading.gif" alt="Loading" />
    </div>
  </div>

  <div class="row igov-columns-3" ng-show="!spinner">
    <div class="col-md-12">
      <a class="ctrls-admin ctrls-srvc add0-srvc"
         href=""
         ng-if="bAdmin"
         ng-click="serviceEditor.add(category.nID, subcategory.nID)">
        <i class="glyphicon glyphicon-plus"></i>&nbsp;Додати послугу
      </a>
    </div>
    <div ng-repeat="service in subcategory.aService | orderBy: ['-nStatus', 'nOrder', 'sName'] ">
      <ul class="list-unstyled">
        <li>
          <a ui-sref="index.service.general({'id': service.nID })"
             ng-href="/service/{{service.nID}}/general">
            <i class="icon-e-service-on"
               ng-if="service.nStatus === 2"
               title="Ця послуга доступна в електронній формі для одного, кількох або всіх регіонів">
            </i>
            <i class="icon-e-service-test"
               ng-if="service.nStatus === 1"
               title="Ця послуга буде доступна онлайн дуже скоро. Зайдіть у послугу та залиште свій email, щоб дізнатися, коли стане доступна.">
            </i>
            <i class="icon-e-service-off"
               ng-if="service.nStatus === 0"
               title="Ця послуга поки не доступна онлайн. Зайдіть у послугу та залиште свій email, щоб дізнатися, коли стане доступна.">
            </i>
            {{service.sName}}
          </a>
          <a class="ctrls-admin ctrls-srvc"
             href=""
             title="Редагувати послугу"
             ng-if="bAdmin"
             ng-click="serviceEditor.edit(category.nID, subcategory.nID, service)">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
          <a class="ctrls-admin ctrls-srvc"
             href=""
             title="Видалити послугу"
             ng-if="bAdmin"
             ng-click="serviceEditor.remove(service)">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>

