<div class="list-group">
	<div class="list-group-item">
		<div class="row no-margin-bottom">
			<div class="col-md-11 form-inline">
				<span>Крок 1. Оберіть свій регіон </span>
				<div style="display:inline-block">
					<span>Область</span>
					<select class="form-control" name="region" ng-model="region" ng-options="region as region.name for region in places.regions track by region.id"></select>
				</div>
				<div style="display:inline-block" ng-if="region">
					<span>Місто</span>
					<select class="form-control" name="city" ng-model="city" ng-options="city.name for city in region.cities track by city.id"></select>
				</div>
			</div>
			<div class="col-md-1">
				<div class="link-button">
					<a href="#">Змінити</a>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group-item">
		<span>Крок 1. Перейдіть за посиланням:</span>
		<a ng-href="{{service.serviceType.url}}">{{service.name}}</a>
	</div>
</div>