<div class="row">
    <div class="col-md-12">
        <form class="form-signin-bankid_">
            <h4 class="form-signin-bankid-heading_">Щоб почати користуватись сервісом “Мій журнал”, 
                <a href="#" ng-click="loginWithBankId()">увійдіть через BankID</a>
                або через 
                <a href="#" onclick="alert('Працюватиме незабаром');">електронно-ціфровий підпис</a>
            </h4>
            <div style="display: none;">
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginWithBankId()">BankID</button>
            </div>
        </form>
    </div>
</div>
