<div class="list-group">
	<div class="list-group-item" ng-class="{'disabled': data.region}">
		<div class="row no-margin-bottom">
			<div class="col-md-11 form-inline">
				<span>Крок 1. Оберіть свій регіон </span>
				<div style="display:inline-block">
					<span>Область</span>
					<select class="form-control" name="region" ng-model="data.region" ng-options="region as region.sName for region in places.aRegion track by region.nID" ng-disabled="data.region"></select>
				</div>
			</div>
			<div class="col-md-1" ng-if="data.region">
				<div class="link-button">
					<a href="#">Змінити</a>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group-item" ng-if="data.region">
		<span>Крок 2. Увійдіть в систему через</span>
		<button class="btn btn-info"><i class="icon-door-lock"></i><span class="btn-text">i.gov.ua</span></button>
		<a class="btn btn-info" ng-href="https://bankid.privatbank.ua/DataAccessService/das/authorize?response_type=code&client_id=dniprorada&redirect_uri={{$location.protocol()}}://{{$location.host()}}:{{$location.port()}}{{$state.href('service.region.built-in.bankid', {'id': service.nID, 'region': data.region.nID})}}">
			<i class="icon-bank-id"></i>
			<span class="btn-text">BankID</span>
		</a>
		<button class="btn"><i class="icon-mobil-id"></i></button>
		<button class="btn btn-success i-btn-badge">
			<i class="icon-badge"></i>
			<span class="btn-text"><div>Сертифікат електронно-</div><div>цифрового підпису</div></span>
		</button>
	</div>
</div>