<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/banner/banner.html'"></div>

<div class="container">
  <div class="row">
  	<div class="col-lg-12">
      <h1 class="page-header">Будь ласка заповніть форму {{processDefinitionId}}</h1>
  	</div>  
  	<div class="col-sm-12">
      <form class="form" name="form" ng-submit="startProcess(form)" novalidate>
		<div class="form-group" ng-repeat="formProperty in processFormData.formProperties">
        <label>{{formProperty.name}} <label ng-show="{{formProperty.datePattern}}"> in format : {{formProperty.datePattern}}</label></label>
        <input type="text" name="{{formProperty.id}}" class="form-control" ng-model="formProperty.value"/>
        </div>
         <button class="btn btn-lg btn-primary" ng-click="authorize()">Ідентифікация BankID</button>
        <button class="btn btn-lg btn-primary" type="submit" ng-disabled="disble_start_process">Подати заявку</button>       
      </form>
    </div>
  </div>
</dib>