<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/banner/banner.html'"></div>

<div class="container">
  <div class="row">
  	<div class="col-lg-12">
      <h1 class="page-header">Будь ласка заповніть форму {{processDefinitionId}}</h1>
  	</div>  
  	<div class="col-sm-12">
      <form class="form" name="form" ng-submit="startProcess(form)" novalidate>
        <!--div ng-show="!disbleStartProcess" class="form-group" ng-repeat="formProperty in processFormData.formProperties"-->
        <div class="form-group" ng-repeat="formProperty in processFormData.formProperties">
            <label>{{formProperty.name}} <label ng-show="{{formProperty.datePattern}}"> in format : {{formProperty.datePattern}}</label></label>
            <!--input type="text" name="{{formProperty.id}}" class="form-control" ng-model="formProperty.value"/-->
            <input ng-if="formProperty.type == 'string'" type="text" name="{{formProperty.id}}" class="form-control" ng-model="formProperty.value"/>
            <input ng-if="formProperty.type == 'long'" type="text" name="{{formProperty.id}}" class="form-control" ng-model="formProperty.value"/>
            <!--input ng-if="formProperty.type == 'date'" type="text" name="{{formProperty.id}}" class="form-control" ng-model="formProperty.value"/-->
            <!--div ng-controller="DatepickerDemoCtrl"  NavbarCtrl  ng-controller="ProcessFormCtrl" -->
            <!-- ng-controller="myCtrl" ng-app="foo"  ng-if="formProperty.type == 'date'"  datepicker-popup="dd/MM/yyyy" init-date="{{formProperty.value}}" -->
            <div ng-if="formProperty.type == 'date'" class="row">
                <mydatepicker class="input-group" ng-model="dt" date-options="dateOptions" opened="opened" />
            </div>
                <!--div ng-if="formProperty.type == 'date'" class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                          <input type="text" name="{{formProperty.id}}" class="form-control" datepicker-popup="{{format}}" ng-model="dt" init-date="{{formProperty.value}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" clear-text="Стереть" close-text="Закрыть" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div-->
            <!--/div--><!--08/03/2015-->
            
            <div ng-if="formProperty.type == 'enum'" class="form-control">
                 <!--(комбо-бокс)-->
                <!--select class="form-group-combobox" ng-repeat="oEnumValue in formProperty.enumValues" title="" onchange=""-->
                <select class="form-group-combobox" title="" onchange="">
                    <!--option value="{{oEnumValue.id}}">{{oEnumValue.name}}</option-->
                    <option ng-repeat="oEnumValue in formProperty.enumValues"
                            selected="{{formProperty.value == oEnumValue.id?'selected':''}}"
                            value="{{oEnumValue.id}}">{{oEnumValue.name}}
                    </option>
                    
                    
                    <!--
                        selected="<!--ng-if='formProperty.value == oEnumValue.id' selected>
                    <option ng-if="formProperty.value == oEnumValue.id" selected="selected" value="{{oEnumValue.id}}">{{oEnumValue.name}}</option>
                    <option ng-if="formProperty.value != oEnumValue.id" value="{{oEnumValue.id}}">{{oEnumValue.name}}</option>
                    -->
                </select>                 
                <!--div class="form-group" ng-repeat="oEnumValue in formProperty.enumValues">
                    oEnumValue.id=<label>{{oEnumValue.id}}</label>
                    oEnumValue.name=<label>{{oEnumValue.name}}</label>
                </div-->
            </div>          
        </div>
         <button class="btn btn-lg btn-primary" ng-click="authorize()">Ідентифікация BankID</button>
        <button class="btn btn-lg btn-primary" type="submit" ng-disabled="disbleStartProcess">Подати заявку</button>       
      </form>
    </div>
  </div>
</div>