<div class="modal-header">
  <h3 class="modal-title">Оберіть робочі дні тижня</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">

    <div class="form-group">
      <label for="inputName" class="col-md-3 col-xs-3 control-label">Назва</label>
      <div class="col-md-9 col-xs-9">
        <input class="form-control" id="inputName" ng-model="slot.name" placeholder="Введіть назву, будь ласка">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 col-xs-3 control-label">Тип часу дії</label>
      <div class="col-md-9 col-xs-9">
        <select class="form-control"
                ng-model="slot.dateRange.type"
                ng-options="type as type.label for type in constants.durationTypes"
                ng-change="onDurationTypeChange(slot.dateRange)">
        </select>
      </div>
    </div>

    <div class="form-group" ng-show="slot.dateRange.type === constants.durationTypes.noEnd">
      <label class="col-md-3 col-xs-3 control-label">Термін дії з</label>
      <div class="col-md-9 col-xs-9">
        <input datetimepicker
               class="form-control date-picker"
               type="text"
               ng-model="slot.dateRange.range"/>
      </div>
    </div>

    <div class="form-group" ng-show="slot.dateRange.type === constants.durationTypes.noBeginning">
      <label class="col-md-3 col-xs-3 control-label">Термін дії до</label>
      <div class="col-md-9 col-xs-9">
        <input datetimepicker
               class="form-control date-picker"
               type="text"
               ng-model="slot.dateRange.range"/>
      </div>
    </div>

    <div class="form-group" ng-show="slot.dateRange.type === constants.durationTypes.beginningAndEnd">
      <label class="col-md-3 col-xs-3 control-label">Термін дії</label>
      <div class="col-md-9 col-xs-9">
        <input datetimerangepicker
               class="form-control date-picker"
               type="text"
               ng-model="slot.dateRange.range"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 col-xs-3">
        <div class="spacer35"></div>
        <label class="control-label pull-right">Час прийому з </label>
      </div>
      <div class="col-md-3 col-xs-3">
        <timepicker ng-model="slot.timeRange.from" minute-step="5" show-meridian="false"></timepicker>
      </div>
      <div class="col-md-1 col-xs-1">
        <div class="spacer35"></div>
        <label class="control-label">до </label>
      </div>
      <div class="col-md-3 col-xs-3">
        <timepicker ng-model="slot.timeRange.to" minute-step="5" show-meridian="false"></timepicker>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-xs-3">
        <div class="spacer75"></div>
          <label class="control-label pull-right">Дні тижня</label>
      </div>
      <div class="col-md-9 col-xs-9">

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="slot.weekDays.mo"> Понеділок
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="slot.weekDays.tu"> Вівторок
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="slot.weekDays.we"> Середа
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="slot.weekDays.th"> Четвер
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="slot.weekDays.fr"> П'ятниця
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="slot.weekDays.sa"> Субота
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="slot.weekDays.su"> Неділя
          </label>
        </div>

      </div>
    </div>

    <div class="spacer40"></div>

    <div class="form-group">
      <label class="col-md-3 col-xs-3 control-label">Тип слота</label>
      <div class="col-md-9 col-xs-9">
        <div class="row"></div>
        <label class="radio-inline">
          <input type="radio" ng-model="slot.partition.isDividedIntoSlots" ng-value="false"> Весь часовий проміжок
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="slot.partition.isDividedIntoSlots" ng-value="true"> Розбити на слоти
        </label>
      </div>
    </div>

    <div class="form-group" ng-show="slot.partition.isDividedIntoSlots">
      <label class="col-md-3 col-xs-3 control-label">Тривалість слота</label>
      <div class="col-md-3 col-xs-3">
        Дні
      </div>
      <div class="col-md-3 col-xs-3">
        Години
      </div>
      <div class="col-md-3 col-xs-3">
        Хвилини
      </div>

      <div class="col-md-2 col-xs-2">
        <select class="form-control"
                ng-model="slot.partition.days"
                ng-options="item as item for item in constants.daysAvailableValues">
        </select>
      </div>
      <div class="col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1">
        <select class="form-control"
                ng-model="slot.partition.hours"
                ng-options="item as item for item in constants.hoursAvailableValues">
        </select>
      </div>
      <div class="col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1">
        <select class="form-control"
                ng-model="slot.partition.minutes"
                ng-options="item as item for item in constants.minutesAvailableValues">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="inputFormula" class="col-md-3 col-xs-3 control-label">Формула розкладу</label>
      <div class="col-md-9 col-xs-9">
        <input class="form-control" id="inputFormula" ng-model="slot.scheduleFormula" placeholder="Наприклад: {&quot;0 0/15 14-15 ? * MON,TUE,THU,FRI&quot;:&quot;PT15M&quot;}">
      </div>
    </div>

    <div class="alert alert-danger" role="alert" ng-hide="atLeastOneWeekDayChosen()">Будь ласка, оберіть хоча б один день тижня</div>
    <div class="alert alert-danger" role="alert" ng-hide="timeOrderIsCorrect()">Час закінчення роботі повинен бути пізніший за час початку</div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" ng-show="showSave()" ng-click="save()">Зберегти</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Відмінити</button>
    </div>
  </form>

</div>
