<div ng-controller="GenerationCtrl">

  <div ng-show="!isBpChosen">
    <h3 class="text-center">Оберіть бізнес-процес, що включено до Flow_ServiceData.csv у проекті wf-base</h3>
    <h5 class="text-center">Наразі це бізнес-процеси з наступними Id: "Test sID_BP", "kiev_mreo_1", "dnepr_mreo_1", "dnepr_dms_passport"</h5>
  </div>

  <div ng-show="isBpChosen">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-1 col-xs-2">Період</label>
        <div class="col-md-4 col-xs-6">
          <input datetimerangepicker
                 class="form-control date-picker"
                 type="text"
                 ng-model="generator.data.range"
                 ng-change="generator.onDateChange()"/>
        </div>
        <div class="checkbox col-md-3 col-xs-5">
          <label>
            <input type="checkbox" ng-model="generator.data.isDeleteWithTickets"> Видаляти з тікетами
          </label>
        </div>
        <button type="submit" class="btn btn-success" ng-click="generator.generate()">Згенерувати</button>
        <button class="btn btn-danger" ng-click="generator.del()">Видалити згенероване</button>
      </div>
    </form>

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" ng-show="generator.data.isGenerated">Розклад згенеровано</div>
        <div class="alert alert-danger" role="alert" ng-show="generator.data.isDeleted">Розклад видалено</div>
        <div class="alert alert-danger" role="alert" ng-show="generator.data.isGeneratedNothing">
          Для цього періоду вже згенеровано слоти або робочий час та винятки не задані
        </div>
        <div class="alert alert-danger" role="alert" ng-show="generator.data.isGenerationError">Помилка</div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-5 col-md-offset-1 col-xs-12">
        <div class="inline-block">
          <datepicker ng-model="calendar.request.sDateStart"
                      ng-change="calendar.onChangeDate()"
                      show-weeks="true"
                      class="well well-sm">
          </datepicker>
        </div>
      </div>

      <div ng-show="calendar.data.inProgress" class="col-md-6 col-xs-12">
        <h3 class="text-center">Заждіть</h3>
      </div>

      <div ng-show="!calendar.data.inProgress" ng-repeat="day in calendar.data.days" class="col-md-6 col-xs-12">

        <div class="row">
          <div class="col-md-4">
            <h3>{{day.sWeekDay}}</h3>
            <h4>{{day.sFormattedDate}}</h4>
          </div>
          <div class="col-md-8">
            <div class="spacer10"></div>
            <h2>
              <span class="label label-success" ng-show="day.bHasFree">Є вільні слоти</span>
              <span class="label label-danger" ng-show="!day.bHasFree">Немає вільних слотів</span>
            </h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7">
            <table class="table">
              <thead>
              <tr>
                <th>Проміжок</th>
                <th>Статус</th>
              </tr>
              </thead>

              <tbody>
              <tr ng-repeat="slot in day.aSlot">
                <td>{{slot.sTime}} - {{slot.sToTime}}</td>
                <td>
                  <span class="label label-success" ng-show="slot.bFree">Вільно</span>
                  <span class="label label-danger" ng-show="!slot.bFree">Зайнято</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  </div>
</div>
