.rule-content{
	padding-left:20px;
}
.parameters-text {
	padding-top:7px;
	padding-left:0px;
}
.control-label{
	margin-left: -20px;
}
.modal-dialog {
	width: 700px;
}

/*this is a fix for "jumping" effect when scrollbar on the right appears: https://aykevl.nl/2014/09/fix-jumping-scrollbar*/
html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

td.col-md-4.rulebuttons {
	text-align:right;
}