<div class="list-group">

	<div>FIXME placefix/built-in/index.html</div>

    <place></place>
    
    <service-auth-block
            ng-if="authControlIsNeeded()"
            n-step="2"
            redirect-uri="{{$state.href('index.service.general.placefix.built-in.bankid', {'id': service.nID, 'region': getRegionId(), 'city': getCityId() })}}">
    </service-auth-block>
</div>

<!-- ng-if="placeControlIsComplete()" -->

<!-- city  -->
<!-- end city -->
<!-- region -->
<!-- end region -->
<!-- country -->
<!-- end country -->