<div class="list-group">
	<div class="list-group-item">
		<div class="row">
			<div class="col-md-12 text-center">
				<strong>На жаль, поки що неможливе надання цієї послуги в електронному вигляді.</strong>
                                <a class="ctrls-admin ctrls-srvc-add" href="" ng-hide="true"><span class="glyphicon glyphicon-plus"></span> Додати послугу</a>
			</div>
		</div>
		<div class="row">
			<!--div class="col-md-12 text-center">Ознайомитись, як можна скористатися цією послугою, можна в <a ui-sref="service.instruction({ id: service.nID })">Інструкції</a></div-->
                        <!--<div class="col-md-12 text-center">Ознайомитись, як можна скористатися цією послугою, можна в <a ui-sref="service.instruction({ id: service.nID })">Інструкції</a></div>-->
                        <div class="col-md-12">
                            <center style="margin-bottom:10px;"><b><span class="text-center">Ви можете допомогти пришвидчити процес переведння послуги в електронний вигляд:</span></b></center>
                                <!--ol>
                                        <li-->
                                                <table style="vertical-align:top;">
                                                    <tr>
                                                        <td style="vertical-align:top;width:50%;">
                                                            Поділіться посиланням на цю сторінку в соціальних мережах із закликом підтримати ініціативу по переводу послуги в електронний вигляд.
                                                            <br>
                                                            <center>
                                                                <div class="pluso" style="margin-top:10px;"
                                                                         data-background="transparent"
                                                                         data-options="big,round,line,horizontal,counter,theme=04"
                                                                         data-title="Закликаю владу перевести цю послугу в електронну форму! {{data.city.sName}} – {{service.sName}}"
                                                                         data-description="{{data.city.sName}} – {{service.sName}}"
                                                                         data-services="facebook,vkontakte,twitter">
                                                                </div>
                                                            </center>
                                                        </td>
                                                        <td style="vertical-align:top;width:50%;">
                                                            Залиште свій email. Ми Вас поінформуємо, як тільки ця послуга буде доступна в електронному вигляді.
                                                            <div style="margin-top:10px;" class="col-md-12 text-center">
                                                            <form name="absentMessageForm">
                                                                <input type="email" data-ng-model="absentMessage.email" name="email" placeholder="Ваш email" required ng-keyup="emailKeydown()"/>
                                                                <input type="button" data-ng-click="sendAbsentMessage(absentMessageForm, absentMessage)" value="Зберегти" />
                                                                <div role="alert" ng-if="absentMessage.showErrors">
                                                                  <span class="error" ng-if="absentMessageForm.email.$error.required">Введіть Вашу email-адресу</span>
                                                                  <span class="error" ng-if="absentMessageForm.email.$error.email">Введіть коректну email адресу</span>
                                                                </div>
                                                            </form>
                                                            </div>                                                            
                                                        </td>
                                                    </tr>
                                                </table>
                                        <!--/li>
                                        <li>
                                                Залиште свій email. Ми Вас поінформуємо, як тільки ця послуга буде доступна в електронному вигляді.
                                        </li>
                                </ol>-->
                        </div>
		</div>
	</div>
</div>