<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <ul class="nav nav-tabs nav-stacked col-md-4_ col-lg-4_ col-sm-6_" ng-repeat="task in tasks">
            <li>
                <a tooltip="{{task.description}}"
                   ng-click="selectTask(task)"
                   class="task-menu-item"
                   ng-class="{active: isTaskSelected(task)}">{{ task.name }}
                </a>
            </li>
          </ul>
		</div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h3 ng-show="selectedTask && taskForm == null && !error">Завантаження ...</h3>

      <show-error data="error" ng-show="error"></show-error>

      <div ng-repeat="item in taskForm">
        <p ng-if="item.type == 'string' || item.type == 'long' || item.type == 'date' || item.type == 'textArea'">
          <label>{{item.name}}</label>
          <input class="form-control" ng-disabled="!item.writable && selectedTask.assignee == null" ng-required="item.required" ng-model="item.value"/>
        </p>

        <p ng-if="item.type == 'user'">
          <label>{{item.name}}</label>
          <input class="form-control" ng-disabled="true" ng-required="item.required" ng-model="item.value"/>
        </p>

        <p ng-if="item.type == 'enum'">
          <label>{{item.name}}</label>
          <select class="form-control" ng-model="item.value" ng-options="oEnumValue.id as oEnumValue.name for oEnumValue in item.enumValues" ng-required="item.required" ng-disabled="!item.writable && selectedTask.assignee == null"></select>
        </p>

        <p ng-if="item.type != 'string' && item.type != 'long' && item.type != 'date' && item.type != 'enum' && item.type != 'user' && item.type != 'textArea'">
          <label>{{item.name}}</label>
          <input class="form-control" ng-disabled="true" ng-required="item.required" ng-model="item.value" />
        </p>
      </div>
      <div ng-show="attachments">
        <p ng-repeat="item in attachments">
          Файл: <a href="/api/tasks/{{taskId}}/attachments/{{item.id}}/content" target="_blank"><b>{{item.name}}</b> {{item.description}}</a>
        </p>
      </div>
      <p>
        <button ng-if="taskForm == null" ng-hide="selectedTask.assignee != null" ng-click="assignTask()"class="btn btn-success">Взяти в роботу</button>
        <!-- <button ng-hide="taskForm == null" ng-disabled="selectedTask.assignee != null && hasAttachment()" ng-click="downloadAttachment()" class="btn btn-success">Загрузити документ</button> -->
        <button ng-if="taskForm == null" ng-hide="selectedTask.assignee == null" ng-click="submitTask()" class="btn btn-success">Опрацювати</button>
      </p>
    </div>
</div>
