<div ng-include="'components/navbar/navbar.html'"
     class="navbar-static-top"></div>

<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Оберіть Бізнес-процес</div>
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="bpID" class="col-sm-1 control-label">БП:</label>
          <div class="col-sm-11">
            <select id="bpID"
                    class="form-control"
                    name="bpID"
                    ng-model="statistic.sBP"
                    ng-options="processDefinition.sID as processDefinition.sName for processDefinition in processesList"
                    ng-required="true"
                    ng-change="workingHours.change()">
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <tabset>

        <tab heading="Робочоий час тижня">
          <div class="spacer15"></div>
          <div ng-include src="'app/services/working_hours/table.html'"></div>

        </tab>

        <tab heading="Виняткі робочого часу">
          <div class="spacer15"></div>
          <div ng-include src="'app/services/exclusions/table.html'"></div>
        </tab>

        <tab heading="Генерація слотів роскладу">
          <div class="spacer15"></div>
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputName2">Період:</label>
              <input type="datetime" class="form-control" id="exampleInputName2" placeholder="з">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">Email</label>
              <input type="datetime" class="form-control" id="exampleInputEmail2" placeholder="до">
            </div>
            <button type="submit" class="btn btn-success">Згенерувати</button>
            <button class="btn btn-danger">Видалиті згенероване</button>
          </form>
        </tab>

        <tab heading="Переглянути наявний грфік та заняті слоти">
          <div class="spacer15"></div>
          <div class="col-xs-6 col-sm-2">
            <input class="form-control" ng-model="statistic.from" ng-required="true">
          </div>
        </tab>

      </tabset>
    </div>
  </div>

</div>
