<div class="row">
    <div class="list-group-item"
         ng-hide="authProcess">
        <span>Крок 1. Увійдіть в систему через</span>
        <button style="display: none;"
                class="btn btn-info"><i class="icon-door-lock"></i><span class="btn-text">igov.org.ua</span></button>
        <a class="btn btn-info"
           href="#"
           ng-click="loginWithBankId()">
            <i class="icon-bank-id"></i>
            <span class="btn-text">BankID</span>
        </a>
        <button style="display: none;"
                class="btn"><i class="icon-mobil-id"></i></button>
        <button ng-click="loginWithEds()"
                class="btn btn-success i-btn-badge">
            <i class="icon-badge"></i>
            <span class="btn-text"><div>Сертифікат електронно-</div><div>цифрового підпису</div></span>
        </button>
    </div>
    <div class="text-center"
         ng-show="authProcess">
        <img class="text-center section-preloader"
             src="assets/images/loading.gif"
             alt="Loading"/>
    </div>
</div>
